*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
font-family: Verdana, Geneva, Tahoma, sans-serif;}

.main{
  background-image: url('../src/assets/bg.png');
  height: 150vh;
  width: 100%;
  background-size: cover;
  background-position: center;
}